<%- include("header") -%>

    <div class="box" id="heading">
      <% if(listTitle === "Weekend"){ %>
      <h1 style="color: brown"><%= listTitle %></h1>
      <% } else { %>
      <h1 style="color: cadetblue"><%= listTitle %></h1>
      <% } %>
    </div>

    <div class="box">

      <% newListItems.forEach(function(item) { %>
        <form action="/delete" method="post">
          <div class="item">
            <input type="checkbox" name="selectedItem" value="<%= item.id %>" onChange="this.form.submit()" id="" />
            <p><%= item.itemName %></p>
            <input type="hidden" name="hidenListval" value="<%= listTitle %>" />
          </div>
        </form>
        
      <% }) %>

      <!-- <% for(var i = 0; i < arrayLength ; i++) { %>
      <div class="item">
        <input type="checkbox" name="" id="" />
        <p><%= newListItems[i].itemName %></p>
      </div>
      <% } %> -->

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="new item" id="" />
        <button type="submit" name="list" value=<%= listTitle  %>>+</button>
      </form>
    </div>

<%- include("footer") -%>

